<div{{ content_attributes.addClass('store-locator-results') }}>

  {% if items.total == 0 %}
    <p>There are no stores within {{ items.distance }} miles of {{ items.zipCode }}. Please <a href="/store-locator">try
        your search again.</a>
    </p>
  {% else %}
    <p>We found {{ items.total }} store{% if items.total > 1 %}s{% endif %} within {{ items.distance }} miles
      of {{ items.zipCode }} | <a href="/store-locator">Search Again</a>
    </p>

    <div id="map">Map</div>

    <script>
      // Initialize and add the map
      function initMap() {

        let elCentro = {lat: {{ items.latLong.lat }}, lng: {{ items.latLong.lng }}};
        let infoWindow = new google.maps.InfoWindow();
        let map = new google.maps.Map(
          document.getElementById('map'), {
            zoom: 9,
            center: elCentro,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            imageDefaultUI: true
          });
        let service = new google.maps.places.PlacesService(map);

        {% for store in items.stores %}
        {% if store.google_plus_code|length %}

        let request_{{ store.nid }} = {
          query: '{{ store.google_plus_code }}',
          fields: ['name', 'geometry'],
        };

        service.findPlaceFromQuery(request_{{ store.nid }}, function (results, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (let i = 0; i < results.length; i++) {
              let marker_{{ store.nid }} = new google.maps.Marker({
                map: map,
                label: '{{ loop.index }}',
                position: results[i].geometry.location,
              });

              google.maps.event.addListener(marker_{{ store.nid }}, 'click', function () {
                infoWindow.setContent('{{ store.title }}');
                infoWindow.open(map, this);
              });
            }
            map.setCenter(results[0].geometry.location);
          }
        });

        {% endif %}
        {% endfor %}

      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQNRPaZd4ibswz8dB7gpOZyajfvtkRaAI&libraries=places&callback=initMap"></script>

    <div id="results">
      {% for store in items.stores %}
        <div class="store {% set classes = ['odd', 'even'] %}{{ cycle(classes, loop.index0) }}">
          <div class="number">{{ loop.index }}</div>
          <div class="info">
            <div class="has-text-weight-bold"><a href="{{ store.link }}">{{ store.title }}</a></div>
            <div>{{ store.address }} {{ store.city }} {{ store.state }} {{ store.zip }}</div>
          </div>
          <div class="ad">
            {% if store.adLink|length %}
            <a href="{{ store.adLink }}" target="_blank" title="Weekly Ad"><i class="fas fa-cut"></i></a>
            {%  endif %}
          </div>
        </div>
      {% endfor %}
    </div>

  {% endif %}

</div>
