{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
{{ attach_library('brookshirebrothers/store-location') }}
<div id="address" class="has-text-weight-bold">{{ node.field_address.value }},
  {{ node.field_city.value }}
  {{ node.field_state.value }}
  {{ node.field_zip_code.value }}
</div>

<div id="links">
  <div class="mapLink">
    <a href="https://www.google.com/maps/search/?api=1&query={{ mapLink }}" target="_blank"><i class="fas fa-angle-double-right"> </i></a>
    <a href="https://www.google.com/maps/search/?api=1&query={{ mapLink }}" target="_blank">get directions</a>
  </div>
  {% if adLink|length %}
    <div class="adLink">
      <a href="{{ adLink }}" target="_blank" title="Weekly Ad"><i class="fas fa-cut"> </i></a>
      <a href="{{ adLink }}" target="_blank" title="Weekly Ad">this week's bargains!</a>
    </div>
  {% endif %}
  {% if prescriptionLink|length %}
    <div class="prescriptionLink">
      <a href="{{ prescriptionLink }}" target="_blank" title="Refill Prescription"><i class="fas fa-file-prescription"> </i></a>
      <a href="{{ prescriptionLink }}" target="_blank" title="Refill Prescription">refill prescription</a>
    </div>
  {% endif %}
</div>

<div id="signup">
  {% if node.field_bbros_text_signup__c.value|length %}
    <div class="has-text-weight-bold">Sign up to Brookshire Brothers Promo Alerts:</div>
    <div>{{ node.field_bbros_text_signup__c.value }}</div>
  {% endif %}
  {% if node.field_tbarn_text_signup__c.value|length %}
    <div class="has-text-weight-bold">Sign up to Tobacco Barn Promo Alerts:</div>
    <div>{{ node.field_tbarn_text_signup__c.value }}</div>{% endif %}
</div>

<div id="hours">
  <div>Hours:</div> <div>{{ node.field_store_hours.value }}</div>
  <div>Manager:</div> <div>{{ node.field_store_manager.value }}</div>
  <div>Phone:</div> <div>{{ node.field_store_phone.value }}</div>
</div>

<div id="features">
  <div><h2 class="has-text-weight-bold">Features</h2></div> <div> </div>
  <div>Pharmacy:</div> <div>{% if pharmacy %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  <div>Drive-Thru Pharmacy:</div> <div>{% if driveThruPharmacy %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  <div>Flu Shots:</div> <div>{% if fluShot %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  <div>Beverage Depot:</div> <div>{% if beverageDepot %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  <div>Bakery:</div> <div>{% if bakery %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  <div>Deli:</div> <div>{% if deli %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  <div>Floral:</div> <div>{% if floral %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  <div>Bissell Rental:</div> <div>{% if bissellRental %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  <div>Redbox:</div> <div>{% if redbox %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  <div>Tobacco Barn:</div> <div>{% if tobaccoBarn %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  <div>Subway:</div> <div>{% if subway %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  <div>Washateria:</div> <div>{% if washateria %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  <div>Mr. Payroll:</div> <div>{% if mrPayroll %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  <div>Car Wash:</div> <div>{% if carWash %}<i class="fas fa-check"> </i>{% else %}<i class="fas fa-times"> </i>{% endif %}</div>
  {% if fuel %}<div>Fuel:</div> <div>{{ node.field_fuel_brand.value }}</div>{% endif %}
</div>

{% if pharmacy %}
<div id="pharmacy">
  <div><h2 class="has-text-weight-bold">Pharmacy</h2></div> <div> </div>
  <div>Pharmacy Hours:</div> <div>{{ node.field_pharmacy_hours.value }}</div>
  <div>Pharmacist:</div> <div>{{ node.field_pharmacist.value }}</div>
  <div>Pharmacy Phone:</div> <div>{{ node.field_pharmacy_phone.value }}</div>
  <div>Pharmacy Fax:</div> <div>{{ node.field_pharmacy_fax.value }}</div>
  <div>State Board #:</div> <div>{{ node.field_state_board_number.value }}</div>
</div>
{% endif %}

{% if tobaccoBarn %}
  <div id="tobaccoBarn">
    <div><h2 class="has-text-weight-bold">Tobacco Barn</h2></div> <div> </div>
    <div>Hours:</div> <div>{{ node.field_barn_hours.value }}</div>
    <div>Manager:</div> <div>{{ node.field_barn_manager.value }}</div>
    <div>Barn #:</div> <div>{{ node.field_barn_number.value }}</div>
  </div>
{% endif %}

{% if subway %}
  <div id="subway">
    <div><h2 class="has-text-weight-bold">Subway</h2></div> <div> </div>
    <div>Phone:</div> <div>{{ node.field_subway_phone.value }}</div>
    <div>Director:</div> <div>{{ node.field_subway_director.value }}</div>
  </div>
{% endif %}

{% if washateria %}
  <div id="washateria">
    <div><h2 class="has-text-weight-bold">Washateria</h2></div> <div> </div>
    <div>Phone:</div> <div>{{ node.field_washateria_phone.value }}</div>
    <div>Director:</div> <div>{{ node.field_washateria_director.value }}</div>
  </div>
{% endif %}

{% if carWash %}
  <div id="carWash">
    <div><h2 class="has-text-weight-bold">Car Wash</h2></div> <div> </div>
    <div>Phone:</div> <div>{{ node.field_car_wash_phone.value }}</div>
    <div>Director:</div> <div>{{ node.field_car_wash_director.value }}</div>
  </div>
{% endif %}

{% if mrPayroll %}
  <div id="mrPayroll">
    <div><h2 class="has-text-weight-bold">Mr. Payroll</h2></div> <div> </div>
    <div>Phone:</div> <div>{{ node.field_mr_payroll_phone.value }}</div>
  </div>
{% endif %}
